body {
    margin: 0px
}
.topbar {
    /*    margin: 5px;*/
}
.topbar-inner {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 5px;
}
#go{
    display: none;
}
.logo {
    padding: 5px 10px;
}
img{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

button{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.1em;
    text-decoration: none;
}
ul > li:hover {
    background: tomato;
    border-radius: 10px;
}
ul > li > a:hover {
    color: white
}
.main-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.mynav {
    flex: 1;
    order: 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    text-align: center;
}
.news {
    flex: 8;
    order: 1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 1.1em;
}
.widgets {
    flex: 1;
    order: 2;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1.1em;
}
.widget {
    padding: 5px 10px;
}
.widget:hover {
    background: DodgerBlue;
    border-radius: 10px;
    color: white;
}
h2 {
    text-decoration-line: underline;
}
li {
    list-style-type: none;
    padding: 14px 5px;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    margin: 0px;
}
@media screen and (min-width:1440px){

    .mynav {
        flex: 1;
    }

    .news {
        flex: 18;
    }

    .widgets {
        flex: 1;
    }

}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .mynav {
        /*flex: 2;*/
        display: none;
    }

    .news {
        flex: 8;
    }

    .widgets {
        flex: 2;
        /*display: none;*/
    }
}


@media screen and (max-width: 767px){
     .navbar{
         justify-content: center;
    }
    .mynav{
        display: none;
    }
    .news{
        flex:10;
    }
    .widgets{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .mynav{
        display: none;
    }
    .news{
        flex:10;
    }
    .widgets{
        display: none;
    }
    .topbar-inner{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .navbar{
        justify-content: center;
        flex-direction: column;
        padding-left: 0px;
        display: none;
    }
    #go:checked ~ .navbar {
        display:flex;
    }
    ul{
        width: 100%
    }
    li{
        font-size: 1.3em;
        text-align: center;
    }
}